@import '../../../../common_styles/variables';

.content-sidebar {
  box-shadow: $box-shadow;
  background: $bg-color;
  width: 250px;
  padding: 16px;
}

.sidebar-board-title {
  font-weight: 700;
}
