@import "../../../../common_styles/variables";

.loader {
  text-align: center;
  margin: 0 auto;

  .icon {
    fill: $accent-color;

    svg {
      transform: scale(3);
    }
  }

  &.absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }

  &.full-screen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: $bg-color;

    .loader-content {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .loader-content {
    text-align: center;

    h3 {
      margin-top: 24px;
    }
  }

  .loader-icon-wrapper {
    animation: rotating linear infinite 2000ms;
    color: $accent-color;
  }
}

$icon-adjustment: 2px;
@keyframes rotating {
  from {
    transform: rotate(0deg) translateY($icon-adjustment);
  }
  to {
    transform: rotate(360deg) translateY($icon-adjustment);
  }
}
