.loader {
  text-align: center;
  margin: 0 auto;

  svg {
    fill: #4995ed;
    width: 100px;
  }

  &.absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
}
