@import "../../../../common_styles/variables";

.loader {
  text-align: center;
  margin: 0 auto;

  svg, circle {
    fill: #4995ed;
    width: 25px;
  }

  &.small {
    svg {
      width: 50px;
    }
  }

  &.absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
}
