@import '../../common_styles/_variables.scss';
@import '../../common_styles/_mixins.scss';

.auth-wrapper {
  width: 100%;
  height: 100%;
  display: flex;

  .auth-background-section {
    flex: 1;
    background-image: url('../../images/bg-hd.jpeg');
    background-position: center;
    background-size: cover;

    @include phone {
      display: none;
    }
  }

  .auth-forms-section {
    width: 30%;
    background: $bg-color;
    box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.5);
    z-index: 2;
    padding-top: 120px;

    .auth-logo {
      width: 100px;
      margin: 0 auto;
      position: relative;

      .icon {
        width: 100%;
        fill: $accent-color;

        svg {
          width: 100%;
          height: 100%;
        }
      }
    }

    .auth-forms {
      width: 100%;
      padding: 0 24px;
      max-width: 300px;
      margin: 120px auto 0;

      .auth-form {
        .form-button-wrapper {
          width: 100%;
          text-align: right;
        }

        .form-text-button {
          margin-top: 56px;
          text-align: center;

          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
    }

    @include tablet {
      width: 50%;
    }

    @include phone {
      width: 100%;
      padding-top: 80px;

      .auth-forms {
        margin: 80px auto 0;
      }
    }
  }
}
