@import '../../../../../../../../common_styles/variables';

.labels-list-item {
  display: flex;
  align-items: center;
  margin: 4px 0;
  cursor: pointer;
  border-radius: $border-radius;
  transition: .3s;

  &.active {
    font-weight: bold;
  }

  &:hover {
    background: $bg-color-2;
  }

  &:first-of-type {
    margin-top: 16px;
  }

  .labels-list-item-title {
    margin-right: 8px;
    padding: 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .color-square {
    width: 16px;
    height: 16px;
    min-width: 16px;
    border-radius: 2px;
    margin-left: auto;
    margin-right: 4px;
  }
}
