.pull-right {
  float: right;
}

.margin-bottom-8 {
  margin-bottom: 8px !important;
}

.margin-bottom-16 {
  margin-bottom: 16px !important;
}

.margin-bottom-24 {
  margin-bottom: 24px !important;
}

.margin-8 {
  margin: 8px !important;
}

.margin-16 {
  margin: 16px !important;
}

.margin-24 {
  margin: 24px !important;
}

.scrollable {
  overflow: auto;
}

.fade {
  &-enter {
    opacity: 0.01;
  }

  &-enter-active {
    opacity: 1;
    transition: all 300ms ease-out;
  }

  &-exit {
    opacity: 1;
  }

  &-exit-active {
    opacity: 0.01;
    transition: all 300ms ease-out;
  }
}
