$accent-color: #4995ed;

$bg-color: white;
$bg-color-2: #f6f6f6;
$bg-overlay: rgba(23, 23, 23, 0.3);

$text-color: #7b7b7b;
$text-color-light: #f3f3f3;

$error-color: #E5645B;

$box-shadow-flat: 0px 0px 10px -3px rgba(0, 0, 0, 0.3);
$box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.3);
$box-shadow-moved: -8px 8px 20px -15px rgba(0, 0, 0, 0.3);

$border-radius: 4px;

//dimensions
$header-height: 70px;

//z-index
$z-index-5: 5;
$z-index-4: 4;
$z-index-3: 3;
$z-index-2: 2;
$z-index-1: 1;
$z-index-popup-default: 90;
$z-index-popup-higher: 93;
$z-index-popup-highest: 96;

//popup
$popup-footer-height: 50px;

