@import './_reset.scss';
@import './_variables.scss';
@import './_helpers.scss';

html, body, #root {
  width: 100%;
  height: 100%;
  color: $text-color;
  font-family: 'Lato', sans-serif;
  transition: .3s;
  font-weight: 300;
}

a {
  color: $text-color;
  text-decoration: none;
}

p {
  font-size: 0.9em;
  white-space: normal;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;

  &.with-margin {
    margin: 16px 0 8px 0;
  }

  &.accent-color {
    color: $accent-color;
  }

  &.italic {
    font-style: italic;
  }
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

.label {
  font-weight: 300;
}

.clickable {
  cursor: pointer;
}

.center {
  text-align: center;
}

::placeholder {
  color: #dbdbdb;
}

.text-bold {
  font-weight: bold;
}
