@import '../../../../../common_styles/variables';

.user-panel {
  font-size: 1em;
  height: 100%;
  display: flex;
  transition: .3s;

  .user-panel-avatar {
    display: flex;
    padding: 24px 24px 24px 0;

    .user-panel-avatar-wrapper {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      align-self: center;
      box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.5);
      transition: .3s;
      overflow: hidden;

      &:hover {
        color: $accent-color;
        cursor: pointer;
      }

      i {
        margin: 0 auto;
      }
    }
  }

  .user-panel-name {
    display: flex;
    align-items: center;
    padding: 24px;
  }
}
