@import '../../../common_styles/_variables.scss';

textarea {
  width: calc(100% - 16px);
  height: 64px;
  border: none;
  box-shadow: $box-shadow-flat inset;
  font-size: 1.4rem;
  padding: 8px;
  color: $text-color;
  border-radius: $border-radius;
}
