@import '../../../common_styles/_variables.scss';

.border-input-wrapper {
  border: none;
  position: relative;
  margin-bottom: 16px;

  input {
    background: $bg-color;
    -webkit-box-shadow: 0 0 0 30px $bg-color inset;
    padding: 12px;
    width: 100%;
    outline: none;
    margin: 0;
    transition: box-shadow .3s;
    font-size: 1rem;
    box-sizing: border-box;
    border: none;
    border-radius: $border-radius;
    font-weight: 300;
    color: $text-color;
    box-shadow: $box-shadow-flat;
    font-family: 'Lato', sans-serif;

    &:focus {
      box-shadow: $box-shadow;
    }

    &.with-icon {
      width: calc(100% - 40px);
      border-radius: $border-radius 0 0 $border-radius;
    }
  }

  .input-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    background: $bg-color;
    height: 42px;
    box-shadow: $box-shadow-flat;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 0 $border-radius $border-radius 0;
    transition: .3s;

    &:hover {
      color: $accent-color;
    }

    i {
      margin: 0 auto;
    }
  }
}
