@import '../../../common_styles/variables';

.to-button {
  border: none;
  background: $accent-color;
  color: $text-color-light;
  padding: 12px 24px;
  border-radius: 4px;
  box-shadow: 0 0 15px -3px $accent-color;
  transition: .3s;
  font-size: 0.8em;
  font-weight: 300;
  cursor: pointer;

  &.cancel {
    background: $bg-color;
    color: $text-color;
    box-shadow: 0 0 8px 0 $bg-overlay;

    &:hover {
      color: $error-color;
    }
  }

  &.submit {
    &:hover {
      //color: $accent-color;
    }
  }

  &:focus {
    outline: none;
  }
}
