@import '../../../common_styles/_variables.scss';
@import '../../../common_styles/_mixins.scss';

$popup-margin: 24px;

.popup-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: $bg-overlay;
  z-index: $z-index-overlay;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(calc(-50% - #{$popup-margin})) translateY(calc(-50% - #{$popup-margin}));
  background: $bg-color;
  border-radius: $border-radius;
  width: 100%;
  max-width: 1000px;
  height: 100%;
  max-height: 600px;

  &.small {

  }

  &.medium {
    width: 100%;
    max-width: 600px;
    height: 100%;
    max-height: 300px;

    @include phone {
      width: 100%;
      height: 100%;
      border-radius: 100%;
    }
  }

  &.normal {
    width: calc(100% - #{$popup-margin * 2});
    max-width: calc(1000px - #{$popup-margin * 2});
    height: calc(100% - #{$popup-margin * 2});
    max-height: 600px;
    margin: $popup-margin;

    @include phone {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transform: none;
      max-width: none;
      max-height: none;
      border-radius: 0;
      margin: 0;
    }
  }

  &.fullscreen {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}
