@import '../../../common_styles/_variables.scss';
@import '../../../common_styles/_mixins.scss';

$popup-margin: 24px;
$popup-translation: translateX(calc(-50% - #{$popup-margin})) translateY(calc(-50% - #{$popup-margin}));

.popup-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: $bg-overlay;
  z-index: $z-index-overlay;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: $popup-translation;
  background: $bg-color;
  border-radius: $border-radius;
  width: 100%;
  max-width: 1000px;
  height: 100%;
  max-height: 600px;
  z-index: $z-index-overlay + 1;

  &.small {

  }

  &.medium {
    width: 100%;
    max-width: 600px;
    height: 100%;
    max-height: 300px;

    @include phone {
      width: 100%;
      height: 100%;
      border-radius: 100%;
    }
  }

  &.normal {
    width: calc(100% - #{$popup-margin * 2});
    max-width: calc(1000px - #{$popup-margin * 2});
    height: calc(100% - #{$popup-margin * 2});
    max-height: 600px;
    margin: $popup-margin;

    @include phone {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transform: none;
      max-width: none;
      max-height: none;
      border-radius: 0;
      margin: 0;
    }
  }

  &.fullscreen {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

// TRANSITIONS
// POPUP
.popup-transition-enter {
  opacity: 0.01;
  transform: $popup-translation scale(0);
}

.popup-transition-enter-active {
  opacity: 1;
  transition: all 300ms ease-out;
  transform: $popup-translation scale(1);
}

.popup-transition-exit {
  opacity: 1;
  transform: $popup-translation scale(1);
}

.popup-transition-exit-active {
  opacity: 0.01;
  transition: all 300ms ease-out;
  transform: $popup-translation scale(0);
}

// OVERLAY
.popup-overlay-transition-enter {
  opacity: 0.01;
}

.popup-overlay-transition-enter-active {
  opacity: 1;
  transition: all 300ms ease-out;
}

.popup-overlay-transition-exit {
  opacity: 1;
}

.popup-overlay-transition-exit-active {
  opacity: 0.01;
  transition: all 300ms ease-out;
}
