@import '../../../common_styles/variables';

.to-button {
  color: $text-color;
  padding: 8px 24px;
  border-radius: 4px;
  font-size: 0.8em;
  font-weight: 300;
  cursor: pointer;
  border: 1px solid $text-color-light;
  transition: .3s;

  &.full-width {
    width: 100%;
  }

  &.cancel {
    background: $bg-color;
    color: $text-color;

    &:hover {
      box-shadow: 0 3px 15px -3px $text-color;
    }
  }

  &.submit {
    background: $accent-color;
    color: $text-color-light;
    border: none;

    &:hover {
      box-shadow: 0 3px 15px -3px $accent-color;
    }
  }

  &.underlined {
    width: auto;
    border: none;
    font-size: initial;
    text-decoration: underline;
    padding: 0;
  }

  &:focus {
    outline: none;
  }
}
