@import '../../../../../../common_styles/variables';

.board-theme-block {
  height: 100px;
  width: 100%;
  border-radius: $border-radius;
  margin: 12px 0;
  background-position: bottom;
  background-size: cover;
  transition: border, opacity, box-shadow .3s;
  box-sizing: content-box;
  background-clip: border-box;
  box-shadow: $box-shadow-flat;
  position: relative;
  opacity: 0.4;

  &.is-selected {
    opacity: 1;
    box-shadow: 0 0 10px 0 $accent-color;
  }

  .selected-status {
    position: absolute;
    top: 12px;
    left: 12px;
    color: $accent-color;
  }

  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}
