@import '../../../../../../../common_styles/variables';

.column-wrapper {
  position: relative;
  width: 300px;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  margin-right: 24px;
  display: inline-block;
  vertical-align: top;
  box-shadow: $box-shadow-flat;

  &.new {
    height: auto;
  }

  .column-content-wrapper {
    margin: 16px;
  }

  &:last-child {
    margin-right: 0;
  }

  .column-edit-button {
    position: absolute;
    padding: 16px;
    top: 0;
    right: 0;
    cursor: pointer;
    opacity: 0;
    transition: opacity .3s;

    .icon {
      transition: .3s;
    }

    &:hover {
      .icon {
        fill: $accent-color;
      }
    }
  }
}

.column {
  height: 100%;

  &:hover {
    .column-edit-button {
      opacity: 1;
    }
  }
}

.column-title {
  padding: 16px 16px 8px 16px;
}

