@import '../../../../../../../common_styles/_variables.scss';

$task-margin: 8px;

.task {
  width: calc(100% - #{2 * $task-margin});
  background: $bg-color;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 30px;
  border-radius: $border-radius;
  padding: 8px;
  margin: $task-margin $task-margin 0;
  box-shadow: $box-shadow-flat;
  transition: box-shadow .3s;
  outline: none;
  user-select: none;
  transform: rotate(0deg);
  cursor: pointer !important;

  &.is-dragged {
    box-shadow: $box-shadow;
  }

  i {
    margin: 0 auto;
  }

  .task-labels {
    width: 100%;
    text-align: left;
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;

    .task-label {
      width: 40px;
      height: 12px;
      border-radius: 4px;
      margin-right: 4px;
    }
  }
}
