@import '../../../../../../../common_styles/_variables.scss';

.task {
  width: 100%;
  background: $bg-color;
  display: flex;
  align-items: center;
  min-height: 30px;
  border-radius: 4px;
  margin-top: 8px;
  padding: 8px;
  box-shadow: $box-shadow-flat;
  transition: box-shadow .3s;
  outline: none;
  user-select: none;

  &.is-dragged {
    box-shadow: $box-shadow;
  }

  i {
    margin: 0 auto;
  }
}
