@import '../../../../common_styles/variables';

.header {
  position: relative;
  width: 100%;
  height: $header-height;
  background: $bg-color;
  box-shadow: $box-shadow;
  display: flex;
  z-index: $z-index-4;

  .header-logo {
    align-self: center;
    margin: 0 auto;
    height: 100%;
    padding: 16px;

    img {
      height: 100%;
    }
  }

  .header-button {
    display: flex;
    transition: .3s;

    i {
      align-self: center;
      padding: 24px;
      font-size: 1em;

      &:hover {
        cursor: pointer;
        color: $accent-color;
      }
    }
  }
}
