@import '../../../../common_styles/_variables.scss';
@import '../../../../common_styles/_mixins.scss';

$sidebarWidth: 300px;

.user-sidebar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: $bg-overlay;
}

.user-sidebar {
  width: $sidebarWidth;
  position: absolute;
  background: $bg-color;
  top: 0;
  right: 0;
  height: 100%;
  box-shadow: $box-shadow;

  .user-sidebar-close {
    position: absolute;
    top: 16px;
    right: 16px;
    transition: .3s;

    &:hover {
      color: $accent-color;
      cursor: pointer;
    }

    i {
      font-size: 1.5em;
    }
  }

  @include phone {
    width: 100%;
  }
}

.user-sidebar-transition-enter {
  opacity: 0.01;
  transform: translateX(50%);
}

.user-sidebar-transition-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 300ms ease-out;
}

.user-sidebar-transition-exit {
  opacity: 1;
  transform: translateX(0%);
}

.user-sidebar-transition-exit-active {
  opacity: 0.01;
  transform: translateX(50%);
  transition: all 300ms ease-out;
}

.user-sidebar-overlay-transition-enter {
  opacity: 0.01;
}

.user-sidebar-overlay-transition-enter-active {
  opacity: 1;
  transition: all 300ms ease-out;
}

.user-sidebar-overlay-transition-exit {
  opacity: 1;
}

.user-sidebar-overlay-transition-exit-active {
  opacity: 0.01;
  transition: all 300ms ease-out;
}
