@import '../../../common_styles/_variables.scss';

.border-input-wrapper {
  border: none;

  label {
    font-weight: 300;
    display: inline-block;
    margin-bottom: 8px;
  }

  input {
    background: $bg-color;
    -webkit-box-shadow: 0 0 0 30px $bg-color inset;
    padding: 12px;
    width: 100%;
    outline: none;
    margin: 8px 0 16px 0;
    transition: box-shadow .3s;
    font-size: 1em;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    font-weight: lighter;
    color: $text-color;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);

    &:focus {
      box-shadow: 0 0 5px 0 $accent-color;
    }
  }
}
