@import '../../../../../../common_styles/variables';

.widgets-chooser-list-item {
  padding: 8px;
  border-radius: $border-radius;
  border: 2px solid $bg-color-2;
  transition: .3s;

  &:hover {
    cursor: pointer;
    background: $bg-color-2;
  }

  &.active {
    border: 2px solid $accent-color;
  }
}
