@import '../../../../../../../common_styles/variables';

.column-wrapper {
  width: 300px;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  margin-right: 24px;
  display: inline-block;
  padding: 16px;
  vertical-align: top;
  box-shadow: $box-shadow-flat;

  &:last-child {
    margin-right: 0;
  }
}
