@import '../../../../../../../common_styles/_variables.scss';

.board-theme-block {
  height: 100px;
  width: 100%;
  border-radius: 4px;
  margin: 12px 0;
  background-position: bottom;
  background-size: cover;
  transition: border, opacity .3s;
  box-sizing: content-box;
  background-clip: border-box;
  box-shadow: $box-shadow;
  position: relative;
  opacity: 0.4;

  &.is-selected {
    opacity: 1;
  }

  .selected-status {
    position: absolute;
    top: 12px;
    left: 12px;
    color: $accent-color;
  }

  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}
