@import '../../../common_styles/_variables.scss';

$input-details-color: #ececec;

.input-wrapper {
  border: none;

  label {
    font-weight: 300;
  }

  input {
    background: $bg-color;
    -webkit-box-shadow: 0 0 0 30px $bg-color inset;
    padding: 12px;
    width: 100%;
    outline: none;
    margin-bottom: 8px;
    transition: border-color .3s;
    font-size: 1em;
    box-sizing : border-box;
    border: none;
    border-bottom: 2px solid $input-details-color;
    border-radius: 0;
    font-weight: lighter;
    color: $text-color;

    &:focus {
      border-color: $accent-color;
    }
  }
}
